html {
  font-family: sans-serif;
  font-size: 10px;
}
footer, header, main {
  display: block;
  text-align:center;
}
body {
  margin: 100px 0 0;
}
header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 50;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
  text-decoration: underline;
}
h1 {
  background: -moz-linear-gradient(top,  #26323e 16%, #303e4c 50%, #26323e 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top,  #26323e 16%,#303e4c 50%,#26323e 100%,#7db9e8 100%);
  background: linear-gradient(to bottom,  #26323e 16%,#303e4c 50%,#26323e 100%,#7db9e8 100%);
  background-color: #26323E;
  -webkit-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  color: white;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 1.1;
  height: 80px;
  margin: 0 0 20px;
  padding: 27px 30px;
  text-align: left;
  text-transform: capitalize;
}
h2 {
  font-size: 4em;
}
h3 {
  display: none;
}
label {
  font-size: 2.2em;
}
.login, .themeOpt {
  float: right !important;
  margin: 28px;
}
.invisible {
  visibility: hidden;
}
.visible-sm {
  display: none !important;
}
.row {
  margin: 0 -15px;
}
.adjust, .col-xs-12 {
  float: left;
  min-height: 1px;
  padding: 0 15px;
  position: relative;
  width: 100%;
}
noscript h1 {
  background: -moz-linear-gradient(top,  #770204 28%, #8e021a 53%, #89000d 70%);
  background: -webkit-linear-gradient(top,  #770204 28%,#8e021a 53%,#89000d 70%);
  background: linear-gradient(to bottom,  #770204 28%,#8e021a 53%,#89000d 70%);
  height: auto;
  text-align: center;
}
.clearfix:after,
.soundboard:after,
.row:after {
  clear: both;
  content: " ";
  display: table;
}

/* Soundboard + elements */
.soundboard {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.sound {
  background-color: #f5f5f5;
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
  background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
  background-repeat: repeat-x;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  margin-bottom: 20px;
  min-height: 20px;
  padding: 19px;
}
.repeat {
  bottom: 40%;
  left: 45%;
  position: absolute;
  z-index: 20;
}
.sound img {
  border: 0;
  border-radius: 6px;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  z-index: 30;
}
.dropdown {
  margin: 0 25px 20px;
  text-align: right;
}
.dropdown * {
  margin: 0 5px;
  height: 35px;
  vertical-align: bottom;
}
select {
  background-color: white;
  font-size: 16px;
  height: 30px;
}
#sb {
  margin-top: 15px;
}
.ram, .got {
  display: block;
}
.hide {
  display: none;
}
.soundToggle {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 45;
}
.load, .soundToggle {
  display: none;
}
.placeholder, .soundToggle {
  background-color: transparent;
  border-radius: 6px;
  min-height: 200px;
  width: 100%;
}
.placeholder {
  color: rgba(255, 174, 174, 0.63);
}

/* Buttons */
button {
  cursor: pointer;
  margin: 0;
}
.btn {
  border: 1px solid transparent;
  border-radius: 4px;  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  font-weight: normal;  padding: 6px 12px;
  line-height: 1.42857143;
  margin-bottom: 0;
  vertical-align: middle;
  white-space: nowrap;
}
.blue, .btn, .compact .sound  {
  color: #fff;
  background-color: #369CCD;
  background-image: -webkit-linear-gradient(top,#369CCD 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#369CCD 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#369CCD),to(#265a88));
  background-image: linear-gradient(to bottom,#369CCD 0,#265a88 100%);
  background-repeat: repeat-x;
  border-color: #396f9e;
}
.blue:hover, .btn:hover {
  background-color: #265a88;
  background-position: 0 -15px;
  border-color: #396f9e;
  color: #fff;
}
.login > a {
  border-radius: 6px;
  font-size: 15px;
  line-height: 1.3333333;
  padding: 10px 16px;
}

/* Fonts and Glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  position: relative;
  top: 1px;
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-play:before, .glyphicon-pause:before {
  color: rgba(123, 157, 191, 0.82);
  font-size: 50px;
  position: absolute;
  right: -34px;
  top: 76px;  
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-compact:before {
  content: "\e097";
  font-size: 19px;
}
.glyphicon-expand:before {
  content: "\e096";
  font-size: 19px;
}
.glyphicon-repeat:before {
  content: "\e030";
  color: gray;
  font-size: 50px;
}
.glyphicon-signal:before {
  content: "\e018";
  margin-right: 5px;
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
  margin-right: 5px;
}
.glyphicon-repeat-animate {
  animation: spin 1.5s infinite linear;
  -webkit-animation: spin2 1.5s infinite linear;
}
@-webkit-keyframes spin2 {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* Dark Theme */
body.dark {
  background-color: #131313;
}
.dark .blue, .dark .btn, .dark .sound, .dark .dropdown .btn {
  color: #fff;
  background-color: #3f4348;
  background-image: -webkit-linear-gradient(top,#3f4348 0,#101010 100%);
  background-image: -o-linear-gradient(top,#3f4348 0,#101010 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3f4348),to(#101010));
  background-image: linear-gradient(to bottom,#3f4348 0,#101010 100%);
  background-repeat: repeat-x;
  border-color: #323233;
}
.dark .blue:hover, .dark .btn:hover {
  color: #fff;
  border-color: #323233;
  background-color: #141415;
  background-position: 0 -15px;
}
.dark label, .dark h2, .dark h3, .dark .glyphicon-refresh:before {
  color: white;
}
.dark selector {
  background-color:white;
}

/* Compact */
.compact h3, .compact .load {
  display: block;
}
.compact .sound, .compact .soundToggle {
  height: 35px;
  min-height: 40px;
}
.compact .soundToggle:hover {
  background-color: rgba(54, 156, 205, 0.18);
}
.compact .sound img, .compact .sound .glyphicon {
  display: none;
}
.soundToggle:hover {
  cursor: pointer;
}

/* Connection icon */
#connection {
  color: #13aa13;
}
#connection span {
  font-size: 2em;
  line-height: 38px;
}
#connection .offline {
  color: #d00303;
}

/* Inform modal */
#inform {
  background-color: white;
  border: 3px solid red;
  color: red;
  font-size: 24px;
  left: 10%;
  padding: 30px;
  position: fixed;
  width: 80%;
  text-align: center;
  top: 40%;
  z-index: 100;
}
#inform span {
  cursor: pointer;
  border: 2px solid red;
  padding: 5px 20px;
}
#inform span:hover {
  background-color: #ffc8c8;
}

/* Media Queries */
@media (min-width: 768px) {
  .soundboard {
    width: 750px;
  }
  h1 {
    font-size: 36px;
    letter-spacing: 4px;
    padding: 20px 30px;
  }
}
@media (min-width: 992px) {
  .soundboard {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .soundboard {
    width: 1170px;
  }
}
@media (min-width: 768px) {
  .adjust {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .adjust {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (max-width: 991px) {
 .placeholder {
    height: 200px;
  }
}