/* When cache is cleaned, the page takes 19.07s to finish and 3.66s to load. The size of vanilla.css is 6KB and takes 119 ms. The HTML file is 10KB and takes 120ms. 

Comparison: Vanilla < Bootstrap
- CSS: 6KB < 172 KB
- CSS Time: 119ms < 892 ms
- HTML: 10KB < 13KB
- HTML Time: 120ms < 2.41s
- load: 3.66s <= 3.66s
- finish: 19.07s < 22.02s

Validation check has 0 errors and 14 warnings. All the warnings are vendor-specific prefixes or vendor extended pseaudo-element vendor extensions.  W3C do not support vendor-related properties. Therefore, we do not have to worry about these errors or warnings. */

html {
  font-family: sans-serif;
}
body {
  margin: 100px 0 0;
}
footer,
header,
main {
  display: block;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}
footer {
  text-align:center;
}
button {
  margin: 0;
  cursor: pointer;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-music:before {
    content: "\e002";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-log-in:before {
  content: "\e161";
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
  text-decoration: underline;
}
.sound img {
  border: 0;
  border-radius: 6px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  vertical-align: middle;
}
.placeholder {
  background-color: lightgray;
  border-radius: 6px;
  height: 135px;
}
h1 {
  font-size: 25px;
  letter-spacing: 0;
  padding: 27px 30px;
  line-height: 1.1;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
  margin: 0 0 20px;
  height: 80px;
  color: white;
  background-color: #26323E;
  background: #26323e;
  background: -moz-linear-gradient(top,  #26323e 16%, #303e4c 50%, #26323e 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top,  #26323e 16%,#303e4c 50%,#26323e 100%,#7db9e8 100%);
  background: linear-gradient(to bottom,  #26323e 16%,#303e4c 50%,#26323e 100%,#7db9e8 100%);
  -webkit-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
}
.soundboard {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .soundboard {
    width: 750px;
  }
  h1 {
    font-size: 36px;
    letter-spacing: 4px;
    padding: 20px 30px;
  }
}
@media (min-width: 992px) {
  .soundboard {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .soundboard {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.adjust, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .adjust {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .adjust {
    width: 25%;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.blue, .btn {
  color: #fff;
  background-color: #369CCD;
  background-image: -webkit-linear-gradient(top,#369CCD 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#369CCD 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#369CCD),to(#265a88));
  background-image: linear-gradient(to bottom,#369CCD 0,#265a88 100%);
  background-repeat: repeat-x;
  border-color: #396f9e;
}
.blue:hover, .btn:hover {
  color: #fff;
  border-color: #396f9e;
  background-color: #265a88;
  background-position: 0 -15px;
}
.login > a,
.btn-group > .btn {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group > .btn{
  display: table-cell;
  float: none;
  width: 1%;
}
.sound {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);  
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
  background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
}
.clearfix:after,
.soundboard:after,
.row:after {
  display: table;
  content: " ";
  clear: both;
}
.login {
  float: right !important;
  margin: 28px;
}
.invisible {
  visibility: hidden;
}
.visible-sm {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (max-width: 991px) {
 .placeholder {
    height: 200px;
  }
}