html {
  font-family: sans-serif;
}
body {
  margin: 100px 0 0;
}
footer,
header,
main {
  display: block;
}
header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 50;
}
footer {
  text-align:center;
}
button {
  margin: 0;
  cursor: pointer;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.glyphicon-play:before {
  color: rgba(123, 157, 191, 0.82);
  font-size: 50px;
  content: "\e072";
  top: 76px;
  right: -34px;
  position: absolute;
}
.glyphicon-pause:before {
  color: rgba(123, 157, 191, 0.82);
  font-size: 50px;
  content: "\e073";
  top: 76px;
  right: -34px;
  position: absolute;
}
.glyphicon-music:before {
    content: "\e002";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-compact:before {
  content: "\e097";
  font-size: 19px;
}
.glyphicon-expand:before {
  content: "\e096";
  font-size: 19px;
}
.glyphicon-repeat:before {
  content: "\e030";
  color: gray;
  font-size: 50px;
}
.repeat {
  bottom: 50%;
  left: 42%;
  position: absolute;
  z-index: 20;
}
.soundToggle {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 45;
  top: 0;
  left: 0;
}
.glyphicon-repeat-animate {
  animation: spin 1.5s infinite linear;
  -webkit-animation: spin2 1.5s infinite linear;
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
  text-decoration: underline;
}
.sound img {
  border: 0;
  border-radius: 6px;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  z-index: 30;
}
.placeholder, .soundToggle {
  background-color: transparent;
  border-radius: 6px;
  width: 100%;
  min-height: 130px;
}
h1 {
  font-size: 25px;
  letter-spacing: 0;
  padding: 27px 30px;
  line-height: 1.1;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: capitalize;
  margin: 0 0 20px;
  height: 80px;
  color: white;
  background-color: #26323E;
  background: #26323e;
  background: -moz-linear-gradient(top,  #26323e 16%, #303e4c 50%, #26323e 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top,  #26323e 16%,#303e4c 50%,#26323e 100%,#7db9e8 100%);
  background: linear-gradient(to bottom,  #26323e 16%,#303e4c 50%,#26323e 100%,#7db9e8 100%);
  -webkit-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 50px 0px rgba(0,0,0,0.75);
}
h3 {
  display: none;
}
.soundboard {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .soundboard {
    width: 750px;
  }
  h1 {
    font-size: 36px;
    letter-spacing: 4px;
    padding: 20px 30px;
  }
}
@media (min-width: 992px) {
  .soundboard {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .soundboard {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.adjust, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .adjust {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .adjust {
    width: 25%;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.blue, .btn {
  color: #fff;
  background-color: #369CCD;
  background-image: -webkit-linear-gradient(top,#369CCD 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#369CCD 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#369CCD),to(#265a88));
  background-image: linear-gradient(to bottom,#369CCD 0,#265a88 100%);
  background-repeat: repeat-x;
  border-color: #396f9e;
}
.blue:hover, .btn:hover {
  color: #fff;
  border-color: #396f9e;
  background-color: #265a88;
  background-position: 0 -15px;
}
.login > a {
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.sound {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);  
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
  background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
}
.clearfix:after,
.soundboard:after,
.row:after {
  display: table;
  content: " ";
  clear: both;
}
.login, .themeOpt {
  float: right !important;
  margin: 28px;
}
.invisible {
  visibility: hidden;
}
.visible-sm {
  display: none !important;
}
noscript h1 {
  text-align: center;
  background: #770204;
  background: -moz-linear-gradient(top,  #770204 28%, #8e021a 53%, #89000d 70%);
  background: -webkit-linear-gradient(top,  #770204 28%,#8e021a 53%,#89000d 70%);
  background: linear-gradient(to bottom,  #770204 28%,#8e021a 53%,#89000d 70%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#770204', endColorstr='#89000d',GradientType=0 );
}
.dropdown {
  margin: 0 25px 20px;
  text-align: right;
}
.dropdown * {
  margin: 0 5px;
  height: 35px;
  vertical-align: bottom;
}
select {
  font-size: 16px;
  height: 30px;
}
h2 {
  text-align: center;
  font-size: 4em;
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}
@media (max-width: 991px) {
 .placeholder {
    height: 200px;
  }
}

body.dark {
  background-color: #131313;
}
.dark .blue, .dark .btn{
  color: #fff;
  background-color: #3f4348;
  background-image: -webkit-linear-gradient(top,#3f4348 0,#101010 100%);
  background-image: -o-linear-gradient(top,#3f4348 0,#101010 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#3f4348),to(#101010));
  background-image: linear-gradient(to bottom,#3f4348 0,#101010 100%);
  background-repeat: repeat-x;
  border-color: #323233;
}
.dark .dropdown .btn {
    color: #fff;
    background-color: #d6d6d6;
    background-image: -webkit-linear-gradient(top,#a3a4a5 0,#585b5f 100%);
    background-image: -o-linear-gradient(top,#a3a4a5 0,#585b5f 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#a3a4a5),to(#585b5f));
    background-image: linear-gradient(to bottom,#a3a4a5 0,#585b5f 100%);
    background-repeat: repeat-x;
    border-color: #323233;
}
.dark .dropdown .btn:hover {
    background-color: #545658;
}
.dark .sound {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);  
  background-image: -webkit-linear-gradient(top,#26323E 0,#3b4754 100%);
  background-image: -o-linear-gradient(top,#26323E 0,#3b4754 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#26323E),to(#333232));
  background-image: linear-gradient(to bottom,#26323E 0,#3b4754 100%);
  background-repeat: repeat-x;
  border-color: #323233;
}
.dark .blue:hover, .dark .btn:hover {
  color: #fff;
  border-color: #323233;
  background-color: #141415;
  background-position: 0 -15px;
}
.dark label, .dark h2 {
  color: white;
}
.dark selector {
  background-color:white;
}
.dark .glyphicon-refresh:before {
  color: white;
}
.dark h3 {
  color: white;
}
.ram {
  display: none;
}
.got {
  display: block;
}
.compact .sound, .compact .soundToggle {
  height: 35px;
  min-height: 40px;
}
.compact .soundToggle:hover {
  background-color: rgba(54, 156, 205, 0.18);
}
.compact .sound img, .compact .sound .glyphicon {
  display: none;
}
.compact h3 {
  display: block;
}