#link-ex {
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

header {
  background-color: aqua;
}

main {
  background-color: beige;
}

footer {
  background-color: darkgray;
}

section {
  background-color: crimson;
}

nav {
  background-color: cyan;
}