/* When cache is cleaned, the page takes ~6.85 seconds to load vanilla.css, which is 7.4 kb. The Bootstrap total CSS file size is 168.8 kb and the page takes ~7.90 seconds to load. Because the image files are significantly larger than the CSS files, we do not see much difference in load times. Looking only at the load times for the CSS files, it takes ~123 ms for vanilla.css and ~1413 ms with Bootstrap. */

/* Validation check has 2 errors and 25 warnings. All the errors are vendor-specific prefixes, vendor extended pseaudo-element vendor extensions.  W3C do not support vendor-related properties. Therefore, we do not have to worry about these errors or warnings. */

html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
footer,
header,
main {
  display: block;
}
button {
  margin: 0;
  cursor: pointer;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot');
  src: url('../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.glyphicon-play:before {
  content: "\e072";
  color: #3c763d;
}
.glyphicon-pause:before {
  content: "\e073";
  color: #8a6d3b;
}
.glyphicon-stop:before {
  content: "\e074";
  color: #a94442;
}
.glyphicon-log-in:before {
  content: "\e161";
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html {
  font-size: 10px;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: #23527c;
  text-decoration: underline;
}
.sound img {
  border: 0;
  border-radius: 6px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  vertical-align: middle;
}
h1 {
  color: inherit;
  line-height: 1.1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.soundboard {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .soundboard {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .soundboard {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .soundboard {
    width: 1170px;
  }
}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.adjust, .col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
@media (min-width: 768px) {
  .adjust {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .adjust {
    width: 25%;
  }
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -o-linear-gradient(top,#fff 0,#e0e0e0 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#e0e0e0));
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  background-repeat: repeat-x;
  border-color: #ccc;
}
.btn:hover {
  color: #333;
  text-decoration: none;
  color: #333;
  border-color: #adadad;
  background-color: #e0e0e0;
  background-position: 0 -15px;
}
.login > a {
  color: #fff;
  background-color: #337ab7;
  background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
  background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
  background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
  background-repeat: repeat-x;
  border-color: #245580;
}
.login > a:hover {
  color: #fff;
  border-color: #204d74;
  background-color: #265a88;
  background-position: 0 -15px;
}
.login > a,
.btn-group > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group > .btn{
  display: table-cell;
  float: none;
  width: 1%;
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
.progress {
  height: 20px;
  margin-bottom:0px;  
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}
.progress-bar {
  float: left;
  width:100%;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
          transition: width .6s ease;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:      -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-image:         linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
          background-size: 40px 40px;
  -webkit-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
.sound {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);  
  background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
  background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
  background-image: linear-gradient(to bottom,#e8e8e8 0,#f5f5f5 100%);
  background-repeat: repeat-x;
  border-color: #dcdcdc;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
}
.clearfix:after,
.soundboard:after,
.row:after {
  display: table;
  content: " ";
  clear: both;
}
.login {
  float: right !important;
}
.invisible {
  visibility: hidden;
}
.visible-sm {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}