/* Hint: use relative measurements you'll find them useful! */

@import url('https://fonts.googleapis.com/css?family=Monoton');  /* Set this for Monton...figure out their syntax */

* {
    box-sizing: border-box;
}

body {
    background-image: url("./background.png");
    background-attachment: fixed;
    color: white;
    padding: 7%;
}

main {
    background-color: white;
    border: 20px solid transparent;
    -webkit-border-image: url(./border.gif) 25 stretch;
    -o-border-image: url(./border.gif) 25 stretch;
    border-image: url(./border.gif) 25 stretch;
    padding: 20px;
}

section {
    background-color: rgb(243,234,95);
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}

section > div {
    font-family: 'Comic Sans MS';
    font-size: 25px;
    height: 60px;
    padding: 10px 15px;
    text-transform: lowercase;
    width: 50%;  
}

section > div:nth-child(odd) {
	background-color: rgb(192,77,249);
    left: 50%;
    position: relative;
}

section > div:nth-child(even) {
    background-color: rgb(43,209,252);
}

section > div:nth-child(3):after {
    content: " ♥♥♥";
}
	
aside {
    background: rgb(255,63,63);
    border: 1rem solid black;
    border-radius: 1rem 3rem;
    font-family: sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    text-align: center;
    margin-bottom: 100px;
}

aside svg {
    fill: white;
    height: 1.5rem;
    width: 1.5rem;
}

aside svg:hover {  
    animation-name: spin;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    -webkit-animation: all 2s, spin 4s 2s 3;

    fill: black;
    transform: scale(5);
    -moz-transform: scale(5);
    -webkit-transform: scale(5);
    transform-origin: 50% 50%;
    transition: fill 3s ease;
    transition: transform 3s ease;

}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg) scale(5); }
    to { -moz-transform: rotate(360deg) scale(5); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg) scale(5); }
    to { -webkit-transform: rotate(360deg) scale(5); }
}
@keyframes spin {
    from { transform: rotate(0deg) scale(5); }
    to { transform: rotate(360deg) scale(5); }
}

a.logo {
    background-color: #EA6AC1;
    border-radius: 50%;
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 1);
    color: black;
    font-family: 'Monoton', cursive;
    font-size: 50px;
    padding: 5px 15px;
    text-decoration: none;
}

.fun {
    -webkit-box-reflect: below -20px
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0, transparent), to(white)); 
    color: white;
    float: right;
    font-family: monospace;
    font-size: 70px;
    margin-bottom: 60px;
    text-shadow: -2px 0 rgb(255,63,63), 0 1px rgb(255,63,63), 2px 0 rgb(255,63,63), 0 -1px rgb(255,63,63);
    text-transform: uppercase;
}

#kern1, #kern3 {
    letter-spacing: -11px;
}

#kern2 {
    letter-spacing: -16px;
}

footer {
    background-color: #EA6AC1;
    color: black;
    font-family: cursive;
    margin: -20px;
    padding: 20px;
    text-align: center;
}

footer img {
    width: 150px;
}

footer img:hover + span {
    visibility: visible;
}

footer .wrapper span {
    background-color: white;
    border-radius: 7px;
    border-style: solid;
    margin: 23px;
    padding: 2px 8px;
    position: absolute;
    visibility: hidden;
}

footer .wrapper span:after {
	border-top: 10px solid transparent;
	border-right: 15px solid black;
	border-bottom: 10px solid transparent;
    content:'';
    left: 50%;
  	height: 0;
    margin: -25px 0 0 -45px;
    position: absolute;
    top: 100%;
    width: 0;
}

#spritesheet {
    display: none;
}

@media only screen and (max-device-width: 480px) {
  section > div:nth-child(odd), section > div:nth-child(even) {
    left: 0;
    text-align: center;
    width: 100%;
  }
  section > div {
    font-size: 20px;
  }
  .fun {
    -webkit-box-reflect: inherit;
    float: left;
    font-size: 55px;
    margin-top: 20px;
  }
  aside {
    font-size: 20px;
  }
  footer img {
    width: 100px;
  }
}